.healthmate__login--body {
    font-family: 'Noto Sans', sans-serif;
    display: flex;
    flex-direction: column;

    align-items: center;
    text-align: center;
    align-content: center;

    min-height: 100vh;
}

body {
    color: var(--text-color);
    background: linear-gradient(to bottom, var(--grad-color-one), var(--grad-color-two));
}

/* Title */

.healthmate__login--title {
    font-size: 38px;
}

.healthmate__login--title span {
    font-size: 40px;
    font-weight: 800;
    background: -webkit-linear-gradient(180deg, #9cc6ff, #1c7eff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.healthmate__login--memo {
    font-size: 23px;
    margin-top: -20px;
}

.healthmate__login--memo span {
    font-weight: 600;
}

/* Divider */

.healthmate__login--divider {
    display: block;
    width: 30%;
    height: 1px;
    background-color: #ccc;
    margin-top: 4svh;
    margin-bottom: 4svh;
    opacity: 50%;
}

.healthmate__divider--text {
    margin: 0 10px;
    color: #999;
    font-weight: bold;
}

/* Alternative Login */
.healthmate__login--alternative {
    display: flex;
    flex-direction: row;
    gap: 8svh;
}

.healthmate__login--alternative button {
    width: 74px;
    height: 74px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background: #3a3a3a;
    padding: 0;
}

.healthmate__login--alternative img {
    width: 64px;
    height: 64px;
    background: transparent;
}

.healthmate__login--alternative button:hover {
    background: #262626;
}

.healthmate__login--alternative button:active {
    transform: scale(0.9);
}

.healthmate__login--alternative button:disabled {
    cursor: not-allowed;
    background-color: #2a2a2a;
    transform: scale(1);
}

.healthmate__login--alternative button:hover:active:disabled {
    background-color: #2a2a2a;
    transform: scale(1);
}

/* Input Details */

.healthmate__login--input,
.healthmate__login--password {
    margin-bottom: 20px;
    background-color: var(--dark-color);
    color: var(--text-color);
    border: none;
    width: 400px;
    height: 40px;
    border-radius: 10px;
    padding-left: 20px;
}

/* Password */

.healthmate__password--container {
    position: relative;
}

.healthmate__password--visible {
    background-color: transparent;
    color: #b7b7b7;
    border: none;
    border-radius: 50px;
    font-size: 25px;
    position: absolute;
    right: 10px;
    top: 38%;
    transform: translateY(-50%);
    cursor: pointer;
}

/* Login Button */

.healthmate__login--button {
    background-color: var(--button-background);
    border: none;
    color: var(--text-color);
    padding: 10px 40px;
    text-decoration: none;
    align-content: center;
    font-size: 20px;
    border-radius: 15px;
    font-weight: 500;
    cursor: pointer;
}

.healthmate__login--button:hover {
    background-color: #0a1c34;
}

.healthmate__login--button:active {
    transform: scale(0.9);
}

.healthmate__login--button:disabled {
    background-color: #2a2a2a;
    color: #808080;
    cursor: not-allowed;
}

.healthmate__login--button:disabled:hover:active {
    background-color: #2a2a2a;
    color: #808080;
    transform: scale(1);
}

/* Support */

.healthmate__login--support {
    margin-top: 3svh;
    display: flex;
    flex-direction: column;
}

.healthmate__login--support a {
    color: var(--text-color);
    text-decoration: none;
    font-size: 18px;
    margin-bottom: 10px;
}

.healthmate__login--support span {
    margin-left: 10px;
    text-decoration: underline;
    font-weight: 600;
}

/* Error */

.healthmate__error--container-none {
    display: none;
}

.healthmate__error--container {
    display: flex;
    flex-direction: column;
}

.healthmate__error--container p {
    color: var(--error);
    margin-bottom: 4svh;
    margin-top: -2svh;
}

@media screen and (max-width: 500px) {
    .healthmate__login--input,
    .healthmate__login--password {
        width: 300px;
    }

    .healthmate__login--memo {
        width: 90%;
    }

    .healthmate__login--divider  {
        width: 80%;
    }
}

@media screen and (max-width: 430px) {
    .healthmate__login--input,
    .healthmate__login--password {
        width: 250px;
    }

    .healthmate__login--alternative button {
        width: 74px;
        height: 74px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        background: #3a3a3a;
        padding: 0;
    }

    .healthmate__login--alternative img {
        width: 64px;
        height: 64px;
        background: transparent;
    }

    .healthmate__login--alternative button:hover {
        background: #262626;
    }

    .healthmate__login--alternative button:active {
        transform: scale(0.9);
    }
}