.login_page {
    font-family: 'Noto Sans', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

body {
    color: var(--text-color);
    background: linear-gradient(to bottom, var(--grad-color-one), var(--grad-color-two));
}

.login-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

.login-page__information {
    width: 450px;
    height: 100px;
    text-align: center;
    margin-top: 30px;
}

.login-page__information p {
    color: var(--text-color);
}

.login-page__information-span {
    font-size: 20px;
    font-weight: 600;
    color: var(--text-color);
}

.login-page__container {
    display: flex;
    align-content: center;
    flex-direction: column;
    margin-top: 10vh;
}

.login-page__title {
    font-size: 20px;
    font-weight: 500;
    margin-left: 27%;
    color: var(--text-color);
}

.login-page__input,
.login-page__password {
    margin-bottom: 20px;
    background-color: var(--dark-color);
    color: var(--text-color);
    border: none;
    width: 400px;
    height: 40px;
    border-radius: 10px;
    padding-left: 20px;
}

.login-page__password-container {
    position: relative;
}

.login-page__password-visible {
    background-color: transparent;
    color: #b7b7b7;
    border: none;
    border-radius: 50px;
    font-size: 25px;
    position: absolute;
    right: 10px;
    top: 38%;
    transform: translateY(-50%);
    cursor: pointer;
}

.login-page__button {
    background-color: var(--button-background);
    border: none;
    color: var(--text-color);
    padding: 10px 25px;
    text-decoration: none;
    display: inline-block;
    align-content: center;
    font-size: 16px;
    border-radius: 50px;
    font-weight: 500;
    cursor: pointer;
    transition: 0.5s;
    width: 100px;
    height: 35px;
    margin-left: 40%;
}

.login-errors {
    display: flex;
}

.login-errors__text {
    color: #cb4141;
    font-weight: 600;
    font-size: 17px;
}

.login-page__button:hover {
    transition: 0.5s;
    transform: scale(1.05);
}

.login-page__button:active {
    transition: 0.3s;
    transform: scale(0.9);
}

.login-page__button:disabled {
    background-color: #2a2a2a;
    color: #808080;
    cursor: not-allowed;
}

.login-page__button:disabled:hover,
.login-page__button:disabled:active {
    background-color: #2a2a2a;
    color: #808080;
    transform: scale(1);
}

.login-page__signup,
.login-page__signup-a {
    text-decoration: none;
    color: var(--text-color);
    margin-top: 50px;
    margin-left: 20%;
    font-size: 16px;
}

.login-page__signup-a {
    margin-top: 20px;
}

.signup-text {
    text-decoration: underline;
    margin-left: 15px;
    font-weight: 500;
}

.demo__container {
    margin-top: 20svh;
    width: 500px;
    height: 200px;
    display: flex;
    flex-direction: row;
    background: linear-gradient(to bottom, #08192FFF, #010810FF);
    border: none;
    box-shadow: -10px 14px 6px rgba(12, 35, 65, 0.22);
    padding: 25px;
    text-align: center;
    align-items: center;
    border-radius: 15px;
}

.demo__paragraph {
    display: flex;
    text-align: center;
    color: var(--text-color);
    flex-direction: column;
}

.demo__title {
    font-size: 20px;
    font-weight: 500;
    color: var(--text-color);
}

.demo__important {
    margin-top: 30px;
    font-size: 16px;
    font-weight: 600;
    color: #cb4141;
}

@media screen and (max-width: 792px) {
    .login-page__information {
        width: 85%;
        height: auto;
    }

    .login-page__container {
        margin-top: 5svh;
    }

    .login-page__input {
        width: 320px;
        font-size: 17px;
    }

    .login-page__password {
        width: 320px;
        font-size: 17px;
    }

    .login-page__title {
        margin-left: 20%;
    }

    .login-page__signup,
    .login-page__signup-a {
        margin: 30px 0 0 40px;
        font-size: 17px;
    }
}