/* UnsupportedDevice.css */
.unsupported-device-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
    color: var(--text-color);
    background-color: var(--dark-color); /* Adjust the background color as needed */
}

h1 {
    font-size: 2em;
    margin-bottom: 10px;
}

p {
    font-size: 1.2em;
    color: #838383;
}