body {
    font-family: 'Noto Sans', sans-serif;
    display: flex;
    align-content: center;
    justify-content: center;
    --return-hover: #0050be;
    --return-background: #137bfd;
}

.noPage__header {
    display: flex;
    margin-top: 10vh;
    margin-left: 10%;
}

.noPage__header-image {
    width: 180px;
    height: 180px;
}

.noPage__header-title {
    margin-left: 30%;
    font-weight: bold;
    font-size: 80px;
}

.noPage__paragraph {
    display: flex;
    margin-top: 10vh;
    margin-left: 50px;
}

.noPage__button {
    background-color: var(--return-background);
    border: none;
    color: white;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 50px;
    font-weight: 300;
    cursor: pointer;
    transition: 0.5s;
    margin-top: 20px;
    margin-left: 200px;
}

.noPage__button:hover {
    background-color: var(--return-background);
    transition: 0.5s;
    transform: scale(1.1);
}

.noPage__button:active {
    transition: 0.3s;
    transform: scale(0.9);
}


@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .noPage__button {
        margin-left: 0;
    }
}

@media screen and (max-width: 792px) {
    .pageNotFound {
        justify-content: center;
    }

    .noPage__header {
        display: flex;
        flex-direction: column;
        margin: 0 0 0 6.5em;
    }

    .noPage__header-title {
        margin: 0 0 0 15px;
    }

    .noPage__paragraph {
        width: 90%;
        margin: 10svh 0 0 30px;
    }

    .noPage__button {
        margin: 50px 0 30svh 7rem;
    }
}