.buttons {
    display: flex;
    margin-top: 20px;
    margin-left: 40px;
}

.buttons__submit {
    background: linear-gradient(to right, #041426, #082342);
    border: none;
    color: var(--text-color);
    font-weight: 500;
    font-size: 18px;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    border-radius: 50px;
    transition: border-radius 1s;
}

.buttons__submit:hover {
    background: linear-gradient(to right, #020810, #06192d);
}

.buttons__submit:active {
    transform: scale(0.9);
}

.buttons__reset {
    margin-left: 20px;
    border: none;
    background: none;
    color: var(--link);
    padding: 10px 25px;
    text-align: center;
    text-decoration: underline;
    display: inline-block;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
}

.buttons__reset:hover {
    color: var(--link-hover);
    font-weight: 600;
}

.buttons__reset:active {
    transform: scale(0.9);
}