.header__link-container {
    display: inline;
    flex-direction: column;
    text-align: center;
    margin-top: 40px;
}

.header__link {
    color: #3a3a3a;
    padding-left: 2vw;
    font-size: 18px;
    text-decoration: none;
}

.header__link:hover {
    text-decoration: underline;
}

@media screen and (max-width: 1000px) {
    .header__link {
        color: #3a3a3a;
        padding-left: 6vw;
    }
}

@media screen and (max-width: 795px) {
    .header__link-img {
        display: none;
    }
}