.main-page {
    font-family: 'Noto Sans', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;

    color: var(--text-color);
    background: linear-gradient(to bottom, var(--grad-color-one), var(--grad-color-two));
}

.main-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

.reset-page__information {
    width: 450px;
    height: 100px;
    text-align: center;
    margin-top: 30px;
}


.reset-page__information-span {
    font-size: 20px;
    font-weight: 600;
}

.reset-page__container {
    display: flex;
    align-content: center;
    flex-direction: column;
    margin-top: 10vh;
    text-align: center;
}

.reset-success {
    font-size: 18px;
    font-weight: 600;
    margin-top: 40px;
}

.reset-page__title {
    font-size: 20px;
    font-weight: 500;
    margin-left: 2%;
    color: var(--text-color);
}

.reset-page__input,
.reset-page__password {
    margin-bottom: 20px;
    background-color: var(--dark-color);
    color: var(--text-color);
    border: none;
    width: 400px;
    height: 40px;
    border-radius: 10px;
    padding-left: 20px;
}

.reset-page__password-container {
    position: relative;
}

.reset-page__button {
    background-color: #BDE3FF;
    border: none;
    color: #3a3a3a;
    padding: 10px 25px;
    text-decoration: none;
    display: inline-block;
    align-content: center;
    font-size: 16px;
    border-radius: 50px;
    font-weight: 500;
    cursor: pointer;
    transition: 0.5s;
    width: 100px;
    height: 35px;
    margin-left: 40%;
}

.reset-errors {
    display: flex;
}

.reset-errors__text {
    color: #cb4141;
    font-weight: 600;
    font-size: 17px;
}

.reset-page__button {
    background-color: var(--button-background);
    border: none;
    color: var(--text-color);
    padding: 10px 25px;
    text-decoration: none;
    display: inline-block;
    align-content: center;
    font-size: 16px;
    border-radius: 50px;
    font-weight: 500;
    cursor: pointer;
    transition: 0.5s;
    width: 100px;
    height: 40px;
    margin-left: 40%;
}

.reset-page__button:hover {
    transition: 0.5s;
    transform: scale(1.05);
}

.reset-page__button:active {
    transition: 0.3s;
    transform: scale(0.9);
}

.reset-page__button:disabled {
    background-color: #2a2a2a;
    color: #808080;
    cursor: not-allowed;
}

.reset-page__button:disabled:hover,
.reset-page__button:disabled:active {
    background-color: #2a2a2a;
    color: #808080;
    transform: scale(1);
}

.reset-page__signup {
    text-decoration: none;
    border: none;
    background-color: transparent;
    margin-top: 30px;
    font-size: 18px;
    cursor: pointer;
    color: var(--text-color);
}

.signup-text {
    text-decoration: underline;
    margin-left: 15px;
    font-weight: 500;
    color: var(--text-color);
}

.hidden {
    display: none;
}

@media screen and (max-width: 792px) {
    .reset-page__input {
        width: 320px;
        font-size: 17px;
    }

    .reset-page__button {
        margin-left: 37%;
    }
}