body {
    font-family: 'Noto Sans', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    color: var(--text-color);
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom, #062f59, #001f3f);

    height: 100px;
    width: 100svw;
}

.header__title {
    margin-right: auto;
    font-size: 45px;
    margin-bottom: 25px;
    font-weight: 600;
}

.header__title-link {
    color: var(--text-color);
    text-decoration: none;
}

/* HamburgerMenu.css */

.hamburger-button {
    display: flex;
    margin-right: 30px;
    font-size: 50px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: var(--text-color);
}

.menu-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: none;
}

.menu {
    position: fixed;
    top: 0;
    right: -250px;
    width: 250px;
    height: 100%;
    background: #3a3a3a;
    transition: right 0.3s ease;
    z-index: 1000;
    color: #e0e0e0;
}

.menu.active {
    right: 0;
}

.menu-header {
    padding: 10px;
    text-align: right;
}

.menu-header__text {
    font-weight: 600;
    font-size: 18px;
    text-align: center;
}

.close-button {
    font-size: 40px;
    cursor: pointer;
    background: none;
    border: none;
    outline: none;
    color: #e0e0e0;
}

.menu-links {
    width: 85%;
    height: 100%;
}

.menu-links a {
    display: block;
    padding: 10px;
    width: 100%;
    text-decoration: none;
    color: #e0e0e0;
    font-size: 18px;
}

.header__button-image {
    font-size: 48px;
    height: 30px;
    margin-top: 0;
    margin-bottom: 20px;
}

.header__button {
    font-size: 48px;
    height: 30px;
    margin-top: 0;
    margin-bottom: 20px;
}

.menu-overlay.active {
    display: block;
    z-index: 50;
}

.menu-links a:hover {
    background-color: #2f2f2f;
}

.current {
    background: linear-gradient(to bottom, var(--grad-color-one), var(--grad-color-two));
    padding-left: 20px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    cursor: default;
}

/* Account Button */

.dropdown-container {
    position: relative;
    margin-bottom: 1rem;
}

.header__button.dropdown-button {
    background-color: transparent;
    color: #e0e0e0;
    border: none;
    cursor: pointer;
    padding: 10px;
}

.dropdown-content {
    position: absolute;
    top: 100%;
    right: 0;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.42);
    z-index: 1;
    opacity: 0;
    transform: translateY(-10px);
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.dropdown-content.active {
    animation: dropdown-show 0.3s ease forwards;
    background-color: #2c2c2c;
    width: 180px;
    padding: 10px;
    border-radius: 10px;
    border: none;
}

.dropdown-content button {
    width: 100%;
    padding: 10px;
    background-color: #333333;
    color: #e0e0e0;
    border-radius: 20px;
    margin-top: 10px;
    cursor: pointer;
    border: none;
    font-size: 17px;
}

.dropdown-content button:nth-child(1) {
    margin-top: 5px;
}

.dropdown-content button:nth-child(2) {
    margin-bottom: 5px;
}

.dropdown-content button:hover {
    background-color: #555;
}

@keyframes dropdown-show {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.hidden {
    display: none;
}

@media screen and (max-width: 792px) {
    .header {
        margin: 0;
        padding: 0;
    }

    .header__title {
        font-size: 35px;
        margin-right: auto;
    }

    .hamburger-button {
        padding: 0;
        margin-right: 2rem;
        font-size: 45px;
    }
}