@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Noto+Sans:wght@300&family=Playpen+Sans:wght@300&display=swap');

:root {
  --header-color: #AFF4C6;
  --information-text-color: rgba(162, 232, 162, 0.4); /* bg color */
  --button-background: #d4a7fc;
  --submit-button-hover: #8f63b6;
  --reset-button: #0050be;
  --reset-button-hover: #137bfd;
  --weight-text-link: #0050be;
  --weight-text-link-hover: #137bfd;
  --error: #fd4646;
}

.app {

  font-family: 'Noto Sans', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;

  color: #3a3a3a;
  background-color: white;

  @media (prefers-color-scheme: dark) {
    background-color: white;
    color: #3a3a3a;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .results,
  .information {
    height: 200px;
  }
}

.errors {
  color: var(--error);
  font-weight: bold;
}

.toggle {
  display: flex;
  align-items: center;
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .toggle__text {
    display: flex;
    margin-left: 8px;
    font-size: 20px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .toggle__checkbox {
    display: flex;
    margin-top: 28px;
    margin-left: 50px;
  }
}

.toggle__text {
  display: flex;
  margin-left: 10px;
  border: none;
  background: none;
  font-family: 'Noto Sans', sans-serif;
  font-size: 20px;
}

.toggle__text:hover {
  text-decoration: underline;
}

.toggle__checkbox {
  display: flex;
  margin-top: 28px;
  margin-left: 50px;
  margin-bottom: 23px;

  transition: background-color 0.3s ease;
}

.header__image {
  width: 90px;
  height: 90px;
  margin-top: 30px;
  margin-left: 20px;
  display: flex;
}

.header__title {
  display: flex;
  margin-inline: 60px;
  margin-top: 20px;
  text-align: center;
  color: #3a3a3a;
}

.bmiFooter {
  margin-top: 0;
}

.fields, .metric-fields {
  display: flex;
  margin-left: 40px;
}

.fields__input {
  margin-left: 40px;
  margin-top: 10px;
  width: 70px;
  height: 30px;
  display: flex;
  border-radius: 50px;
  border-style: solid;
  font-size: 17px;
  padding-left: 10px;
}

.fields__text {
  padding-left: 20px;
  font-weight: 600;
}

.fields__text-weight {
  font-weight: 600;
}

.metric-fields__text-weight {
  font-weight: 600;
  margin-left: 40px;
}

.information {
  display: flex;
  width: 320px;
  height: 180px;
  margin-top: 20px;
  margin-left: 40px;
}

.information__text {
  display: flex;
  background-color: var(--information-text-color);
  padding: 20px;
  border-radius: 20px;
}

.results {
  display: flex;
  margin-left: 40px;
  margin-top: 40px;
  font-weight: 800;
  font-size: 30px;
}

.results__text {
  display: flex;
  margin-left: 20px;
  text-decoration: underline;
}

.weight {
  display: flex;
  margin-left: 40px;
  width: 320px;
  height: 130px;
  background-color: var(--information-text-color);
  border-radius: 20px;
  margin-bottom: 70px;
}

.weight__text {
  padding: 20px;
  align-items: center;
}

.weight__text-link {
  color: var(--weight-text-link);
  font-weight: 500;
}

.weight__text-link:hover {
  color: var(--weight-text-link-hover);
  font-weight: 600;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.hidden {
  display: none;
  background-color: white;
}

.source {
  display: none;
}

.header__link-container {
  display: inline;
  flex-direction: column;
  text-align: center;
  margin-top: 40px;
}

.header__link-a {
  color: #3a3a3a;
  padding-left: 2vw;
  font-size: 18px;
}

.header__link-a:hover {
  color: #2d2d2d;
  font-weight: bold;
}

.header__link-img {
  color: #3a3a3a;
  margin-right: 10px;
  margin-left: 10px;
}

@media screen and (max-width: 1000px) {
  .header__link-a {
    color: #3a3a3a;
    padding-left: 10vw;
  }
}

@media screen and (max-width: 1000px) {
  .header__link-a {
    color: #3a3a3a;
    padding-left: 6vw;
  }
}

@media screen and (max-width: 795px) {
  .header__link-img {
    display: none;
  }
}

/* Phones */

@media only screen and (max-width: 767px) {
  .source__img-link {
    width: 30px;
    height: 30px;
  }
}

@media only screen and (max-width: 767px) {
  .header__image {
    margin-top: 10px;
    margin-left: 10px;
    width: 60px;
    height: 60px;
  }

  .header__title {
    margin-inline: 20px;
    margin-top: 10px;
    font-size: 18px;
  }

  .fields, .metric-fields {
    display: flex;
    flex-direction: row;
    margin-left: 10px;
    margin-right: 10px;
  }

  .fields__input {
    margin-left: 15px;
    margin-top: 10px;
    width: 65px;
    height: 40px;
  }

  .toggle__checkbox {
    display: flex;
    margin-bottom: 20px;
  }

  .toggle__text {
    margin-top: 20px;
    margin-bottom: 38px;
  }
}
