@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Noto+Sans:wght@300&family=Playpen+Sans:wght@300&display=swap');

.app {

  --header-color: #a2e8a2;
  --information-text-color: rgba(162, 232, 162, 0.4);
  --button-background: #d4a7fc;
  --submit-button-hover: #8f63b6;
  --reset-button: #0050be;
  --reset-button-hover: #137bfd;
  --weight-text-link: #0050be;
  --weight-text-link-hover: #137bfd;
  --error: #fd4646;

  font-family: 'Noto Sans', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;

  color: #3a3a3a;
  background-color: white;

  @media (prefers-color-scheme: dark) {
    background-color: white;
    color: #3a3a3a;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .results,
  .information {
    height: 200px;
  }
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--header-color);

  height: 180px;
  width: 100vw;
  margin-bottom: 50px;
}

.errors {
  color: var(--error);
  font-weight: bold;
}

.toggle {
  display: flex;
  align-items: center;
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .toggle__text {
    display: flex;
    margin-left: 8px;
    font-size: 20px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .toggle__checkbox {
    display: flex;
    margin-top: 28px;
    margin-left: 50px;
  }
}

.toggle__text {
  display: flex;
  margin-left: 10px;
}

.toggle__checkbox {
  display: flex;
  margin-top: 28px;
  margin-left: 50px;
  margin-bottom: 23px;

  transition: background-color 0.3s ease;
}

.header__image {
  width: 90px;
  height: 90px;
  margin-top: 30px;
  margin-left: 20px;
  display: flex;
}

.header__title {
  display: flex;
  margin-inline: 60px;
  margin-top: 20px;
  text-align: center;
  color: #3a3a3a;
}

.fields, .metric-fields {
  display: flex;
  margin-left: 40px;
}

.fields__input {
  margin-left: 40px;
  margin-top: 10px;
  width: 70px;
  height: 30px;
  display: flex;
  border-radius: 50px;
  border-style: solid;
  font-size: 17px;
  padding-left: 10px;
}

.fields__text {
  padding-left: 20px;
  font-weight: 600;
}

.fields__text-weight {
  font-weight: 600;
}

.metric-fields__text-weight {
  font-weight: 600;
  margin-left: 40px;
}

.information {
  display: flex;
  width: 320px;
  height: 180px;
  margin-top: 20px;
  margin-left: 40px;
}

.information__text {
  display: flex;
  background-color: var(--information-text-color);
  padding: 20px;
  border-radius: 20px;
}

.buttons {
  display: flex;
  margin-top: 20px;
  margin-left: 40px;
}

.buttons__submit {
  background-color: var(--button-background);
  border: none;
  color: white;
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 50px;
  font-weight: 300;
  cursor: pointer;
  transition: 0.5s
}

.buttons__submit:hover {
  background-color: var(--submit-button-hover);
  transition: 0.5s;
  transform: scale(1.1);
}

.buttons__submit:active {
  transition: 0.3s;
  transform: scale(0.9);
}

.buttons__reset {
  margin-left: 20px;
  border: none;
  background: none;
  color: var(--reset-button);
  padding: 10px 25px;
  text-align: center;
  text-decoration: underline;
  display: inline-block;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
}

.buttons__reset:hover {
  color: var(--reset-button-hover);
  font-weight: 600;
}

.buttons__reset:active {
  transform: scale(0.9);
}

.results {
  display: flex;
  margin-left: 40px;
  margin-top: 40px;
  font-weight: 800;
  font-size: 30px;
}

.results__text {
  display: flex;
  margin-left: 20px;
  text-decoration: underline;
}

.weight {
  display: flex;
  margin-left: 40px;
  width: 320px;
  height: 130px;
  background-color: var(--information-text-color);
  border-radius: 20px;
}

.weight__text {
  padding: 20px;
  align-items: center;
}

.weight__text-link {
  color: var(--weight-text-link);
  font-weight: 500;
}

.weight__text-link:hover {
  color: var(--weight-text-link-hover);
  font-weight: 600;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.hidden {
  display: none;
  background-color: white;
}

.source__text-link {
  position: absolute;
  bottom: 0;
  max-width: 100vw;
}